In [30]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [19]:
data=pd.read_csv('gender_submission.csv')

In [20]:
data.shape

(418, 2)

In [21]:
data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [22]:
data.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [23]:
from sklearn.utils import shuffle

# Shuffling the Dataset
data = shuffle(data, random_state = 42)

#creating 4 divisions
div = int(data.shape[0]/4)

# 3 parts to train set and 1 part to test set
train = data.loc[:3*div+1,:]
test = data.loc[3*div+1:]

train.shape, test.shape

((392, 2), (27, 2))

In [24]:
train.head()

     PassengerId  Survived
321         1213         0
324         1216         1
388         1280         0
56           948         0
153         1045         1

In [25]:
test.head()

     PassengerId  Survived
313         1205         1
160         1052         1
276         1168         0
191         1083         0
385         1277         1

In [26]:
test['simple_mode'] = train['Survived'].mode()[0]
test['simple_mode'].head()

<ipython-input-26-12b4503c2c61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['simple_mode'] = train['Survived'].mode()[0]

313    0
160    0
276    0
191    0
385    0
Name: simple_mode, dtype: int64

In [31]:
simple_mode_accuracy = accuracy_score(test['Survived'], test['simple_mode'])
simple_mode_accuracy

0.6666666666666666